/*
     ___     __  ___ __  
|__||__  /\ |  \|__ |__) 
|  ||___/~~\|__/|___|  \ 
*/
header{

}

.header-container {
	margin-bottom: 40px;

	h1{
		color: #3EC9A7;
	}
	h3{
		color: #f2f2f2;
	}
}

.header-content-container{
	margin-bottom: 40px;

	h5{
		line-height: 1.5;
	}
}
