#stats-container{
	min-height: 350px;
}

.stats {
	.axis-x{
		.domain{
			stroke: none;
		}
		.tick line{
			stroke: white;
			stroke-width:.5px;
			stroke-dasharray: none;
		}
		.tick text{
			fill: white;
		}
	}
}

#concept-list{
	display: flex;
	flex-direction: row;
	-webkit-flex-wrap: wrap; /* Safari */
  	flex-wrap: wrap;
	justify-content: space-between;
;
}