// Base css
@import "base/clear.scss";

// Dependencies
@import "dependencies/bootstrap";

// ------- Project ------- //
@import "base/typography.scss";
@import "variables";
// Sections
@import "sections/header.scss";
@import "sections/footer.scss";


.chart-container{
	margin-top: 100px;
	// width: 100%;
	// min-height: 300px;
}

.plot{
	min-height: 600px;
}

.pie-chart .slice line{
	fill:none;
	stroke:rgb(80,80,80);
	stroke-width:1px;
}


.axis line,
.axis circle {
    fill: none;
    stroke: steelblue;
    stroke-dasharray: 4;
  }