// Base css
@import "base/clear.scss";

// Dependencies
@import "dependencies/bootstrap";

// ------- Project ------- //
@import "base/typography.scss";
@import "variables";
// Sections
@import "sections/header.scss";
@import "sections/footer.scss";


body{
	background-color: #2B3238;
}


.header-container {
	margin-bottom: 40px;
}

.header-content-container{
	margin-bottom: 40px;

	h5{
		line-height: 1.5;
	}
}

#multiples-container{
	display: flex;
	flex-direction: row;
	-webkit-flex-wrap: wrap; /* Safari */
  	flex-wrap: wrap;
	justify-content: center;
}

.chart-container{
	margin-top: 100px;
	// width: 100%;
	// min-height: 300px;
}

.plot-container{
	min-height: 200px;
	min-width: 200px;
}

.pie-chart .slice line{
	fill:none;
	stroke:rgb(80,80,80);
	stroke-width:1px;
}


.axis line,
.axis circle {
    fill: none;
    stroke: steelblue;
    stroke-dasharray: 4;
  }

.modal-content{
	background-color: #2B3238;
	h6{
		// color: black;
		white-space:pre-wrap;
	}
	
}

#speech-container{
	margin-top: 30px;
}

.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;

}

.plot-modal{
	position: fixed;
	top: 2%;
    left: 2%;
}

.pointer{
	cursor: pointer;
	cursor: hand;
}